################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MegaCuriosoRss/MegaCuriosoRss/bin
/MegaCuriosoRss/MegaCuriosoRss/obj
/MegaCuriosoRss/MegaCuriosoRss.Android/bin
/MegaCuriosoRss/MegaCuriosoRss.Android/obj
